$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  height: 100%;
  body {
    background-color: #191919;
    margin: 0;
    height: 100%;
  }
}

iframe#kiwi {
  border: 0;
  width: 100%;
  height: 100%;
}

a#close-link {
  position: absolute;
  top: 1em;
  right: 1em;
}
